# Source

https://www.kaggle.com/datasets/harlfoxem/housesalesprediction/

# Importing libraries

In [27]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Loading dataset

In [11]:
df = pd.read_csv('kc_house_data.csv')

In [12]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Separating training and testing sets

In [14]:
y = df["price"]
x = df.drop("price", axis=1).iloc[:, 2:]

In [15]:
y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [16]:
x.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [18]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((15129, 18), (6484, 18), (15129,), (6484,))

# Training

In [19]:
model = LinearRegression().fit(x_train, y_train)

In [21]:
model.coef_, model.intercept_

(array([-3.98902917e+04,  4.74346690e+04,  1.06231931e+02,  1.46964263e-01,
         4.14940120e+03,  5.85530019e+05,  5.72973632e+04,  3.08709545e+04,
         9.59085070e+04,  7.28620556e+01,  3.33698757e+01, -2.55362415e+03,
         1.64208138e+01, -5.64258997e+02,  6.08440250e+05, -2.17979553e+05,
         2.43128884e+01, -3.53158641e-01]),
 4100625.0309899854)

# Validating

In [26]:
print('Accuracy: {:.2f}%'.format(model.score(x_test, y_test)*100))

Accuracy: 70.40%